
@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="fw-300 centrar-texto">Conoce sobre nosotros</h1>
<div class="contenido-nosotros">
    <div class="imagen">
        <img src="img/nosotros.jpg" alt="imagen sobre nosotros">
    </div>
    <div class="texto-nosotros">
        <blockquote>25 años de experiencia</blockquote>
        <p>
            9 de diciembre de 1997,Sabinas Coahuila,Mexico. hace 25 años nacio Bienesraices como un proyecto
            de universidad entre 2 amigos. Carlos Cuautle Zacamitzin y Eduardo Bautista Cervantes. Propietarios de bienesraices.
            quienes desde los 22 años se dedican a la renta de popiedades de lujo en el estado de coahuila, teniendo como principales puntos
            de renta, Sabinas,Nueva Rosita y Muzquiz. Biensraices gracias a el gran trabajo y administracion de los propietarios se posiciono
            como la lider en renta de propiedades. Poco despues llego la era digital y se construyo un sitio web en el que lograra automatizar
            la renta de propiedades de lujo en las principales ciudades de coahuila y les pais. Bienesraices se convirtio en el sitio web mas
            grande de renta de propiedades de el pais.Hoy es el lider del mercado.
        </p>

        <p>.</p>
    </div>
</div>

