
@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h1 class="fw-300 centrar-texto">Conoce sobre nosotros</h1>
        <div class="contenido-nosotros">
                <div class="imagen">
                    <img src="img/nosotros.jpg" alt="imagen sobre nosotros">
                </div>
                    <div class="texto-nosotros">
                        <blockquote>25 años de experiencia</blockquote>
                        <p>Donec suscipit ullamcorper ante, ac vulputate tortor. Morbi ac porttitor purus. Phasellus sodales diam mi, eget dignissim sapien eleifend ut. Quisque placerat posuere venenatis. Pellentesque ornare convallis massa vitae tincidunt. Donec imperdiet magna sed massa dapibus, sed mattis quam hendrerit. Aenean bibendum vehicula vestibulum. Quisque tortor ex, ornare sit amet vehicula ut, tincidunt vitae sapien. Ut auctor dolor nec magna ornare, vitae hendrerit nunc elementum. Donec eget mattis mauris. Maecenas non auctor orci, ac vulputate erat. Pellentesque sagittis bibendum velit, a congue nulla varius eget. Nam aliquam sed ipsum ac porta. Morbi ultricies vehicula eros ut convallis. Praesent vitae felis sem.</p>

                        <p>Sed volutpat nisi in lorem dignissim semper. Vestibulum ipsum augue, facilisis eget venenatis sed, vehicula et diam. Phasellus ac bibendum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus nunc quam, gravida in rhoncus sit amet, rutrum eu odio. Donec posuere dui vel ex finibus elementum. Donec est enim, varius sed sodales sit amet, pretium in nibh. Donec ex neque, tincidunt eget lectus ornare, fringilla faucibus velit. Nulla facilisi. Phasellus pellentesque lectus et metus aliquet varius.</p>
                    </div>
        </div>

