@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="centrar-texto">
    <h1>Bienvenido Administrador</h1>
    <h2>¿Que administramos hoy?</h2>
</div>

<div class="contenedor-admin">

    <div class="anuncio">
        <a href="~/administrador/ciudades/index" class="no-estilo-enlace">

            <div class="contenido-anuncio">
                <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-place_90615.png" />
                <div class="centrar-texto">
                    <h2 class="no-estilo-enlace">Ciudades</h2>
                </div>
            </div>

        </a>
    </div>

    <div class="anuncio">
        <a href="~/administrador/propiedades" class="no-estilo-enlace">

            <div class="contenido-anuncio">
                <img src="https://cdn-icons-png.flaticon.com/512/263/263115.png" />
                <div class="centrar-texto">
                    <h2 class="no-estilo-enlace">Propiedades</h2>
                </div>
            </div>

        </a>
    </div>

</div>

